body {
  background: white;
}

canvas {
  background: black;
  z-index: 1;
  position: relative;
}

.container {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  background: grey;
}

.gameover {
  position: absolute;
  display: none;
  color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 200px;
  text-align: center;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
}

.score {
  position: absolute;
  z-index: 2;
  width: 600px;
  height: auto;
  text-align: right;
  color: white;
  font-weight: bold;
  font-size: 20px;

  p {
    margin: 10px 5px;
    font-family: 'Raleway', sans-serif;
  }
}

.start {
  z-index: 3;
  position: absolute;
  width: 600px;
  height: 600px;
  background: grey;

  h2 {
    text-align: center;
    font-size: 100px;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    margin: 20px auto;
  }

  button {
    font-family: 'Raleway', sans-serif;
    outline: 0;
    display: block;
    margin: 20px auto;
    font-size: 20px;
    padding: 20px 50px;
    width: 400px;
    background: #5cb85c;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    box-shadow: 4px 4px 0px 2px darken(#5cb85c, 15%);
  }

  .footer {
    border-top: 2px solid white;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    font-family: 'Raleway';
    color: white;
    background: black;

    a {
      color: #5bc0de;
      text-decoration: none;
    }
  }
}
